* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: raleway;
}

a {
    text-decoration: none;
}

button {
    background: transparent;
    outline: none;
    color: inherit;
    font: inherit;
    border: none;
    cursor: pointer;
    font-size: inherit;
}

p{
    line-height: 150%;
}

:root {
    /* color */
    --main-color: #0A192F;
    --main-light: #0D1232;
    --main-highlight: #64FFDA;
    --gray: #a8b2d1;
    --box-background: #112240;
    --gray-light: #CCD6F6;
}

ul {
    list-style: none;
}

@font-face {
    font-family: 'raleway';
    src: url('./styles/font/Raleway-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'raleway';
    src: url('./styles/font/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
    font-style: italic;
}

body {
    background-color: var(--main-color);
}

header {
    z-index: 99;
    position: fixed;
    top: 0px;
    padding: 0 3rem;
    color: var(--gray);
    background-color: var(--main-light);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.2s linear;
}

header.hide{
    transform: translateY(-70px);
}

.header__logo {
    width: 50px;
    height: 50px;
    background-image: url('./imgs/logo.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.header__right {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-family: raleway;
}

.header__category {
    width: fit-content;
    padding: 0 10px;
    height: 60px;
    display: inline-block;
    line-height: 60px;
    text-align: center;
}

ul.header_categories {
    counter-reset: z;
}

.header_categories>button {
    transition: all 0.2s linear;
}

.header_categories>button:hover {
    color: var(--main-highlight);
}

.header_category {
    list-style: none;
}

li.header__category:before {
    counter-increment: z;
    content: "0" counter(z) ". ";
    color: var(--main-highlight);
}

.fixedBar {
    position: fixed;
    bottom: 0;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.fixedBar#left {
    left: 30px;
}

.fixedBar#right {
    right: 30px;
}

.leftBar__icons {
    display: flex;
    flex-direction: column;
}

.leftBar__icons>a {
    display: inline-block;
    width: 23px;
    height: 23px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 20px;
    transition: all 0.2s linear;
}

.leftBar__icons>a:hover {
    transform: translateY(-5px);
}

.fixedBar#right>a {
    writing-mode: vertical-rl;
    font-size: 13px;
    letter-spacing: 6px;
    color: var(--gray);
    transition: all 0.2s linear;
}

.fixedBar#right>a:hover {
    transform: translateY(-5px);
    color: var(--main-highlight);
}

.bar__line {
    margin-top: 30px;
    width: 1px;
    height: 100px;
    background-color: var(--gray);
}

#mainContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    max-width: 80vw;
    margin : 150px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleContainer {
    width: 100%;
    text-align: left;
}

.titleContainer>div:nth-child(1) {
    color: var(--main-highlight);
    font-weight: bold;
    margin-left: 6px;
}

.titleContainer>div:nth-child(2) {
    color: white;
    font-size: 80px;
    font-weight: 500;
}

.titleContainer>div:nth-child(3) {
    color: var(--gray);
    font-weight: 500;
    font-size: 80px;
    margin-bottom: 20px;
}

.titleContainer>p {
    font-weight: 600;
    color: var(--gray);
    line-height: 160%;
}

/* about me */

.Container {
    height: fit-content;
}

.Title {
    color: white;
    margin-bottom: 30px;
}

.Title>h1:before {
    content: "01.";
    color: var(--main-highlight);
    margin-right: 10px;
}

.Title>h1::after {
    content: "";
    display: inline-block;
    position: relative;
    top: -5px;
    left: 30px;
    width: 300px;
    height: 1px;
    background-color: var(--gray);
}

.aboutContent {
    display: flex;
    height: fit-content;
}

.aboutText {
    flex-basis: 60%;
    min-width: 50%;
    color: var(--gray);
}

.aboutText>p {
    margin-bottom: 15px;
    line-height: 150%;
}

.stacks {
    display: grid;
    grid-template-columns: repeat(3, minmax(140px, 180px));
}

.stacks>li {
    margin-bottom: 10px;
}

.stacks>li:before {
    content: "▹ ";
    color: var(--main-highlight);
}

.aboutAvatarContainer {
    flex-basis: 40%;
    margin-left: 30px;
    position: relative;
}

.aboutAvatar {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    position: relative;
    background-image: url('./imgs/avatar.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 5;
}

.aboutAvatar:hover+.aboutAvatarBackground {
    top: 10px;
    left: 10px;
}

.aboutAvatarBackground {
    transition: all 0.1s linear;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    border: 3px solid var(--main-highlight);
    position: absolute;
    top: 30px;
    left: 30px;
    /*     top : -270px;
    left : 30px; */
    z-index: 4;
}

.workContent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

.workContent:nth-child(odd) {
    flex-direction: row-reverse;
}

.work__thumbnail {
    min-width: 60%;
    min-height: 400px;
    background-image: url('./imgs/youtube.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.work__thumbnail>a {
    display: block;
    width: 100%;
    height: 100%;
}

.workContent__right {
    width: 50%;
}

.workContent:nth-child(even) .workContent__right {
    text-align: right;
}

.workContent__right>div:nth-child(1) {
    color: var(--main-highlight);
    font-size: 15px;
    margin-bottom: 10px;
}

.workContent__right>div:nth-child(2) {
    color: white;
    font-weight: 700;
    font-size: 23px;
    margin-bottom: 15px;
}

.workContent__right>p {
    color: var(--gray);
    background-color: #112240;
    padding: 1.2rem 1.2rem;
    width: 110%;
    float: right;
    border-radius: 6px;
    margin-bottom: 15px;
}

.workContent:nth-child(odd) .workContent__right>p {
    float: left;
}

.projectStacks {
    margin-bottom: 17px;
}

.projectStacks>span {
    margin-left: 10px;
    color: var(--gray);
    font-size: 15px;
}

.projectLinks {
    text-align: right;
}

.workContent:nth-child(odd) .projectLinks {
    text-align: left;
}

.projectLinks>a {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 10px;
    transition: all 0.2s linear;
}

.projectLinks>a:nth-child(1) {
    background-image: url('./imgs/github_white.png');
}

.projectLinks>a:nth-child(2) {
    background-image: url('./imgs/url_white.png');
}

.projectLinks>a:hover {
    transform: scale(1.2);
}

.projectLinks>a:nth-child(1):hover {
    background-image: url('./imgs/github_theme.png');
    transform: scale(1.2);
}

.projectLinks>a:nth-child(2):hover {
    background-image: url('./imgs/url_theme.png');
    transform: scale(1.2);
}

section#work {
    height: fit-content;
}

/* SUBPROJECT */

.subProject {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subProject>div:nth-child(1) {
    color: var(--gray-light);
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 20px;
}

.subProject>div:nth-child(2) {
    color: var(--main-highlight);
    font-size: 15px;
    margin-bottom: 45px;
}

.subproject__boxes {
    display: grid;
    width : 100%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
}

.subproject__box {
    min-height: 300px;
    padding: 2rem 1.5rem;
    background-color: var(--box-background);
    transition: all 0.1s linear;
}

.subproject__box:hover{
    transform: translateY(-10px);
}
.sub__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.sub__folder {
    width: 45px;
    height: 45px;
    background-image: url('./imgs/stack.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.sub__git {
    width: 20px;
    height: 20px;
    background-image: url('./imgs/github_white.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    transition : all 0.1s linear;
}

.sub__git:hover {
    background-image: url('./imgs/github_theme.png');
    transform: scale(1.2);
}

.sub__title {
    color: var(--gray-light);
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 600;
}

.sub__desc {
    color: var(--gray);
    margin-bottom: 25px;
    font-size: 14px;
}

.sub__stacks {
    display: flex;
    justify-content: left;
    align-items: center;
}

.sub__stacks>div {
    color: var(--gray);
    font-size: 14px;
    margin-right: 10px;
}

/* contact */

.Container#contact{
    height: fit-content;
    color : white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Container#contact > div:nth-child(1){
    color : var(--main-highlight);
    margin-bottom: 15px;
    font-size: 22px;
}

.Container#contact > div:nth-child(2){
    color : var(--gray-light);
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 18px;
}

.Container#contact>p{
    width : 60%;
    margin-bottom: 20px;
    color : var(--gray);
    text-align: center;
    line-height: 150%;
}

button.contactInfo{
    border : 1px solid var(--main-highlight);
    border-radius: 5px;
    color : var(--main-highlight);
    padding : 0.5rem 1rem;
    margin-bottom: 20px;
}

/* info */
.contact__info{
    text-align: center;
    transition: all 0.4s linear;
    visibility: hidden;
    transform: translateY(-20px);
}

.contact__info.active{
    visibility :visible;
    transform: translateY(0px);
}

.contact__info>div{
    font-weight: 500;
    margin-bottom: 5px;
}

/* skills */
.Container#skills{
    width : 100%;
}

.skillContainer{
    display : flex;
    color : var(--gray);
}

.skill_items>button{
    display : block;
    border-left : 2px solid var(--gray);
    width : 85px;
    height :40px;
}

.skill_items>button.active{
    border-left : 2px solid var(--main-highlight);
    background-color: var(--box-background);
}

.skill_content__container{
    position : relative;
}

.skiil__content{
    width: 939px;
    height : 250px;
    padding-left: 50px;
    padding-right: 200px;
    display : none;
}

.skiil__content.active{
    display : block;
}

.web__item__top{
    display : flex;
    justify-content: space-between;
    align-items: center;
    width : 100%;
    margin-bottom: 5px;
}

.web__item__line__background{
    width : 100%;
    height  :5px;
    position : relative;
    background-color : var(--gray);
    border-radius: 10px;
    margin-bottom: 5px;
}

.web__item__percent{
    position : absolute;
    width : 80%;
    height  :5px;
    background-color : var(--main-highlight);
    border-radius: 10px;
}

.skill__util__item:before{
    content: "▹";
    color: var(--main-highlight);
}

.skill__util__item{
    word-wrap: break-word;
}

.skill__util__item>span{
    color : var(--main-highlight);
}

@media screen and (max-width: 980px) {
    .skiil__content{
        width : 60vw;
        padding : 0;
    }
}

@media screen and (max-width: 600px) {
    .fixedBar{
        display : none;
    }
    .skillContainer{
        flex-direction: column;
    }
    .skill_items{
        display : flex;
        margin-bottom: 20px;
    }
    .skill_content__container{
        font-size: 13px;
    }
    .titleContainer>div:nth-child(1){
        font-size: 10px !important;
    }
    .titleContainer>div:nth-child(2){
        font-size: 30px !important;
    }
    .titleContainer>div:nth-child(3){
        font-size: 30px !important;
    }
    .titleContainer>p{
        font-size: 12px !important;
    }
    section{
        margin : 100px 0 !important;
    }

    @media screen and (max-width: 900px) {
        .aboutContent{
            flex-direction: column;
        }
        .aboutText{
            margin-bottom: 30px;
        }
    }
}

@media screen and (max-width: 650px) {
    .workContent__right{
        font-size: 10px;
    }
    .projectStacks > span{
        font-size: 10px;
    }
}

@media screen and (max-width: 440px) {
    .aboutText{
        width : 95vw;
        font-size: 10px;
    }
    .stacks{
        grid-template-columns: repeat(1, 100vw) !important;
    }
    .aboutAvatarContainer{
        margin-left: 0;
    }
    .aboutAvatar{
        margin : auto;
        width : 90vw;
    }
    .aboutAvatarBackground{
        display : none;
    }
    .Container#contact>div:nth-child(2){
        font-size: 30px !important;
    }
    .Container#contact>p{
        font-size: 10px !important;
    }
}

@media screen and (max-width: 487px) {
    .header_categories{
        font-size: 10px;
    }
    .header__logo{
        display : none;
    }
    header{
        padding : 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 300px) {
    header{
        display : none;
    }
}